@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap');


html {
    display: flex;
    justify-content: center;
    hyphens: auto;
    text-align: justify;
}

body {
    min-width: 600px;
    width: 40%;
    font-size: 14pt;
}

h1 {
/*    font-family: 'Playfair Display', serif;*/
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
}

h1.main {
    font-weight: 900;
    border-bottom: 1pt solid silver;
    padding-bottom: 5px;
    font-size: 28pt;
}

nav {
    ol {
        list-style: none;
        display: flex;

        a {
            padding: 20px;
        }
    }
}

#content {

}

.language-rust {
    font-size: 12pt;
    padding: 12pt;
    border-radius: 7px;

}
