  .number {
    background-color: grey;
    font-size: 16px;
    padding: 8px;
    margin: 4px;
  }
  .max5 span {
    padding: 12px;
    margin: 2px;
    background-color: hsla(262, 100%, 33%, 1);
    display: inline-block;
    
    border-end-end-radius: 3px;
    border-end-start-radius: 3px;
    border-start-end-radius: 3px;
    border-start-start-radius: 3px;
  }

  .max5 {
    padding: 5px;
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
  }cc

  .wrap {
    flex-wrap: wrap;
  }

  .sub {
    border: 1px dotted grey;
    margin: 3px;
    width: fit-content;

    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;

    display: flex;
    background-color: hsla(345, 100%, 58%, 0.2);
    flex-wrap: wrap;
  }

  .level_1, .level_3 {
    flex-direction: row;
  }

  .level_0, .level_2 {
    flex-direction: row;
  }

  .level_0 {
    background-color: white;
    border: none;
  }

  h1 {
    width: fit-content;
    margin: 0 auto;

  }

  .question {
    font-size: 5em;

  }



  .blocks {
    max-width: 60%

  }

  .main {
    margin: 0 auto;
    width: 50%;
  }
