<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ config.base_url }}/blog.css">
    </head>
    <body>
        <nav>
            <ol>
                <li>
                    <a href="{{ config.base_url }}">Blog</a>
                </li>
                <li>
                    <a href="{{ config.base_url }}/about">About</a>
                </li>
            </ol>
        </nav>

        <div id="content">{% block content %}{% endblock content %}</div>

    </body>
</html>
