{% extends "base.html" %}
{% block content %}

    {% set section = get_section(path="articles/_index.md") %}

    {% for post in section.pages %}
      <h1><a href="{{ post.permalink }}">{{ post.title }}</a></h1>
    {% endfor %}

{% endblock content %}
