<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="{{ page.extra.css }}">
      <link rel="preload" href="./{{ page.extra.wasm }}_bg.wasm" as="fetch" type="application/wasm" crossorigin="">
      <link rel="modulepreload" href="./{{ page.extra.wasm }}.js">
    </head>
  <body>
    <script type="module">import init from './{{ page.extra.wasm }}.js';init('./{{ page.extra.wasm }}_bg.wasm');</script>
  </body>
</html>
